
.emp-profile{
  

   

  
 height: 75vh; 
    width: 75%; 
    background-color: rgb(253, 253, 253);
   
    border-radius: 10px;
    box-shadow: 5px 10px 18px #888888;
}

.subpart{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;
}

img{width: 120px}

@media only screen and (max-width: 980px) {


.id_data{
    font-size:3vw
}


.emp-profile{
    /* height: 95vh; */
    height: fit-content; 
       width: 100%; 
    }

    
}
/* @media only screen and (max-width: 770px) { */
    /* img{width: 120px;
    align-self: center;}
    
    .row{display: flex;
        align-items: center;
        justify-self:center;

    } */

    @media only screen and (min-width: 970px) {
        .subpart{
            display: flex;
            justify-content: center;
            align-items: center;
        
            height: 91vh;
            width: 100%;
        }
    }

    @media only screen and (max-width: 600px) {
        .emp-profile{

        border-radius: none;
    box-shadow:none;
        }
    }
